<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a button type="button" class="btn btn-outline-primary" href='{% url "english:main" %}'>영어</a>
<a button type="button" class="btn btn-outline-secondary" href='{% url "chinese:main" %}'>중국어</a>
<a button type="button" class="btn btn-outline-success" href='{% url "japanese:main" %}'>일본어</a>
<a button type="button" class="btn btn-outline-danger" href='{% url "accounting:main" %}'>회계</a>
<a button type="button" class="btn btn-outline-warning" href='{% url "trade:main" %}'>무역</a>
<a button type="button" class="btn btn-outline-info" href='{% url "hoteltour:main" %}'>호텔관광</a>
<a button type="button" class="btn btn-outline-light" href='{% url "computer:main" %}'>컴퓨터</a>
<a button type="button" class="btn btn-outline-dark" href='{% url "board:main" %}'>게시판</a>
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
      <div class="dropdown-menu">
        {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
          <a class="dropdown-item" href="{% url 'account_logout' %}" class="nav-link">Logout</a>
          <a class="dropdown-item" href="{% url 'account_change_password' %}">Change PW</a>
        {% else %}
          <a class="dropdown-item" href="{% url 'account_login' %}" class="nav-link">Login</a>
          <a class="dropdown-item" href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
        {% endif %}
      </div>
    </li>
  </ul>    
</nav>  