<a button type="button" class="btn btn-outline-primary" href='{% url "english:list" %}'>영어</a>
<a button type="button" class="btn btn-outline-secondary" href='{% url "chinese:list" %}'>중국어</a>
<a button type="button" class="btn btn-outline-success" href='{% url "japanese:list" %}'>일본어</a>
<a button type="button" class="btn btn-outline-danger" href='{% url "accounting:list" %}'>회계</a>
<a button type="button" class="btn btn-outline-warning" href='{% url "trade:list" %}'>무역</a>
<a button type="button" class="btn btn-outline-info" href='{% url "hoteltour:list" %}'>호텔관광</a>
<a button type="button" class="btn btn-outline-light" href='{% url "computer:list" %}'>컴퓨터</a>
<a button type="button" class="btn btn-outline-dark" href='{% url "board:boardmain" %}'>게시판</a>